<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raj Event</title>
    <link rel="icon" href="../media/pics/re.png">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/photo.css">
</head>
<body>
    <header>
        <div id="flag">1</div>
        <div  id="heading">
            <span>
                <span>Raj Events</span>
                <img onclick="bgMode()" class="ico-mode" src="../media/pics/icons8-sun-48.png" alt="">
            </span>
            <span onclick="hello()">&#9776;</span>
        </div>
     
        <div id="menu" >
            <li><a href="../index.html">Home</a></li>
            <li><a href="./photo.html">Photos</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
        </div>  
    </header>
    <main class="main">
        <div class="main-container">
            <div class="container">
                <div class="card">
                    <img src="../media/pics/royal-bridal-entry.jpg">
                </div>
                <div class="card">
                    <img src="../media/pics/Snapinsta.app_340838236_1318054568773872_8937832616798827643_n_1080.jpg">
                </div>
                <div class="card">
                    <img src="../media/pics/Snapinsta.app_341028291_1455744701627442_5499834275827555968_n_1080.jpg">
                </div>
                <div class="card">
                    <img src="../media/pics/Weeding-Event-Portable-CO2-Confetti-Machine-with-Manual-Control-Color-Paper-Cannon.jpg">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div id="links">
            <div>Links</div>
            <div class="footer" >
                <li><a href="../index.html">Home</a></li>
                <li><a href="./photo.html">Photos</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </div>   
        </div>
        <div id="contact">
            <div>Contact Us</div>
            <div class="footer">
                <li>Phone Number: 8269844350</li>
                <li>Email: tsahu5138@gmail.com</li>
            </div>   
        </div>
        <div class="address">
            <div>Address</div>
            <div class="footer">
                <li>Near payal tent house, Lodhipara, Urla, Durg, Chhattisgarh, India</li>
            </div>   
        </div>
        <div class="me">
            <div>This Website Made By</div>
            <div class="footer">
                <li><a href="https://www.linkedin.com/in/tushar-sahu-6b15b4231" style="text-decoration: underline;" target="_blank">Linkedin</a></li>
                <li>Email: <a href="mailto:tusharsahu0212@gmail.com" style="text-decoration: underline;">tusharsahu0212@gmail.com</a></li>
            </div>   
        </div>
        <div id="icon">
            <div>
                <li><a href="tel:8269844350">&#128222;</a></li>
                <li><a href="mailto:tsahu5138@gmail.com">&#128231;</a></li>
                <li><a href="https://www.instagram.com/raj_event_09/"><img class="insta" src="../media/pics/Instagram_logo_2016.svg.webp"></a></li>
            </div>   
        </div>
    </footer>
</body>
<script src="../scripts/script.js"></script>
</html>